[Installation]
account_id = EXSAMPLE

[Server]
host = http://dev.camera-trap.tw
image_annotation_api = /api/client/v1/image/annotation/
image_update_api = /api/client/v1/image/update/
project_api = /api/client/v1/projects/

[SQLite]
dbfile = camera-trap-desktop.db

[Thumbnail]
destination = camera-trap-desktop
prefix = thumb-

[AWSConfig]
access_key_id = my-access-key-id
secret_access_key = my-secret-access-key
bucket_name = my-bucket-name

[Column]
label_list = filename:原始檔案,datetime:日期時間,species:物種,lifestage:年齡,sex:性別,antler:角況,animal_id:個體ID,remarks:備註
default_list = filename,datetime,species,lifestage
annotation_list = species:Species,lifestage:LifeStage,sex:Sex,antler:Antler,animal_id:AnimalID,remarks:Remarks

[KeyboardShortcut]
Control-Key-0 = 空拍
Control-Key-1 = 測試
Control-Key-2 = 工作照
Control-Key-3 = 山羌
Control-Key-4 = 獼猴
Control-Key-5 = 野豬
Control-Key-6 = 鼬獾
Control-Key-7 = 白鼻心
Control-Key-8 = 食蟹獴
Control-Key-9 = 鳥

[AnnotationFieldSpecies]
type = select
mutiple = 1
choices = 測試,空拍,山羌,山羊,水鹿,
label = 物種

[AnnotationFieldLifeStage]
type = select
choices = 成體,亞成體,幼體,無法判定
label = 年齡

[AnnotationFieldSex]
key = sex
type = select
choices = 雄性,雌性,無法判定
label = 性別

[AnnotationFieldAntler]
key = antler
type = select
label = 角況
choices = 初茸,茸角一尖,茸角一岔二尖,茸角二岔三尖,茸角三岔四尖,硬角一尖,硬角一岔二尖,硬角二岔三尖,硬角三岔四尖,解角

[AnnotationFieldAnimalID]
key = animal_id
type = text
label = 個體 ID

[AnnotationFieldRemarks]
key = remarks
type = text
label = 備註
